<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center">
      Renta de Inmuebles
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let i of inmuebles" col-4>
        <ion-card>
          <img *ngIf="i.hasOwnProperty('pictures')" src="{{i.pictures[0].url}}">
          <ion-card-content>
            <h2 *ngIf="i.hasOwnProperty('price')">{{i.price.formattedAmount}} {{i.price.currency}}</h2>
            <p *ngIf="i.hasOwnProperty('geo')">{{i.geo.displayName}}, {{i.geo.name}} </p>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

